/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
 */
body {
  margin: 0;
  overflow-x: hidden;
  background-color: white;
  /* Prevent horizontal scrolling */
}

html {
  height: 100%;
  overflow-x: hidden;
  /* Prevent horizontal scrolling */
}
.app-container {
  width: 100%;
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.page {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

